{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5"> <!-- Добавьте отступ сверху -->
        <h1>Корзина</h1>
        {% if user.is_authenticated %}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название товара</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_i in cart_item %}
                    <tr>
                        <td>{{ cart_i.product.title }}</td>
                        <td>{{ cart_i.product.price }} тг</td>
                        <td>
                            <form method="post" action="{% url 'increase_cart' cart_i.product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link">+</button>
                            </form>
                            {{ cart_i.quantity }}
                            <form method="post" action="{% url 'decrease_cart' cart_i.product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link">-</button>
                            </form>
                        </td>
                        <td>{{ cart_i.final_price }} тг</td>
                        <td>
                            <form method="post" action="{% url 'remove' cart_i.product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button> <!-- Используйте стиль Bootstrap для определения цвета кнопки удаления -->
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>Итоговая цена: {{ cart.total_price }}t</p>
        <p>Итоговое количество: {{ cart.final_quantity }}</p>

        <a href="{% url 'create_order'  %}" class="btn btn-primary">Оформить заказ</a>
        {% else %}
        <p>Для оформления заказа, пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.</p>
        {% endif %}
    </div>

{% endblock %}
