{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<div class="container mt-5">
    <h1>{{ category.name }} </h1>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 mb-4">
            <div class="card">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Цена: {{ product.price }} тг.</p>
                    <a href="{% url 'single-product' product.id %}" class="btn btn-primary">Детальнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination mt-4">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1" class="btn btn-primary">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}" class="btn btn-primary">previous</a>
            {% endif %}

            <span class="current-page">
                Страница {{ products.number }} из {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="btn btn-primary">next</a>
                <a href="?page={{ products.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}

