
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Single Product Page</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Product Area Starts ***** -->
            <section class="section" id="product">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                        <h1>Подробная информация о продукте</h1>
            <h2>{{ product.title }}</h2>
            <p>Категория: {{ product.category.name }}</p>
            <p>Цена: {{ product.price }} тг.</p>
            <p>Описание: {{ product.description }}</p>
            <img src="{{ product.image.url }}" alt="{{ product.title }}">
                        </div>
                    </div>
                    </div>

    </section>
    <!-- ***** Product Area Ends ***** -->
    

{% endblock %}